@media screen and (min-width: 1367px) {
    .leftDrawer {
        width: 25rem !important;
    }

    .play-tuijian {
        width: calc(100% - 25rem) !important;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .leftDrawer {
        width: 20rem !important;
    }

    .play-tuijian {
        width: calc(100% - 20rem) !important;
    }
}

/* 平板尺寸 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .leftDrawer {
        width: 18rem !important;
    }

    .play-tuijian {
        width: calc(100% - 18rem) !important;
    }
}

/* 767一下屏幕,左侧菜单栏消失,改为在header栏显示,并且缩小歌曲进度条区域 */
@media screen and (max-width: 767px) {
    .leftDrawer {
        position: absolute;
        width: 80% !important;
        left: -80%;
        transition: left 0.3s ease-in-out;
        z-index: 10;
    }

    .play-tuijian {
        width: 100% !important;
        height: calc(100% - 4rem) !important;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header-menu {
        float: none !important;
        display: inline-block;
    }

    .header.clearfix:after {
        display: none !important;
    }

    .header-logo {
        display: none !important;
    }

    .header-showDrawerBtn {
        display: block !important;
    }

    .showDrawer {
        left: 0;
    }

    .play-tuijian {
        padding-bottom: 6rem !important;
    }

    .play-setting-songImg {
        width: 6rem !important;
    }

    .play-setting {
        height: 6rem !important;
    }

    .play-settings {
        width: calc(100% - 6rem) !important;
    }

    .play-settings-controll img {
        width: 2rem !important;
        height: 2rem !important;
    }

    .play-settings-controll-soundSlider {
        width: 6rem !important;
    }

    .play-settings-title span {
        font-size: 1rem !important;
    }
}
.leftDrawer,.play-tuijian{
    height: calc(100% - 4rem);
}
.login-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40rem;
    height: 40rem;
    z-index: 100;
    background: rgb(209, 205, 205);
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.login-alert-title {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.2rem;
}

.login-alert-form {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-alert-form input {
    display: block;
    width: 80%;
    margin: 1.3rem auto;
    height: 2.5rem;
    padding: 0 10px;
    border: 0;
    border-radius: 3px;
}

.login-alert-btn {
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center;
}

.login-alert-btn button {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.login-alert-btn button:first-child {
    margin-right: 3rem;
    background: #20a0ff;
    color: white;
}

.play-tuijian {
    position: relative;
}

.play-tuijian,
.play-setting {
    width: calc(100% - 35rem);
}

.play-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 50rem;
    padding: 1rem;
    background: rgb(224, 224, 224, 0.8);
    border-radius: 20px;
}

.play-alert-cancel {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
}

.play-alert-titleContent {
    height: 8rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

.play-alert-titleContent-img {
    width: 8rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}

.play-alert-titleContent-title {
    width: calc(100% - 8rem);
    height: 100%;
    padding-left: 1rem;
}

.play-alert-titleContent-title:first-child {
    margin-bottom: 20px;
}

.play-alert-titleContent-img,
.play-alert-titleContent-title {
    float: left;
}

.play-alert-list {
    height: calc(100% - 8rem);
    overflow: auto;
}

.play-alert-list table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}

.play-alert-list table td {
    height: 2rem;
    border: 1px solid gray;
    padding: 0 5px;
}

/* 左侧可伸缩的抽屉 */
.leftDrawer{
    float: left;
    overflow: auto; 
}
.play-tuijian {
    float: left;
    overflow: hidden;
}

/* 页面头部区域 */
.header {
    width: 100%;
    height: 4rem;
    text-align: center;
    background-image: linear-gradient(to right, pink, #40efff);
    line-height: 4rem;
}

.header-showDrawerBtn {
    display: none;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.header-logo,
.header-showDrawerBtn {
    float: left;
    padding-left: 2rem;
}

.header-menu {
    float: right;
}

.header-menu>a {
    float: left;
    padding: 0 1rem;
    cursor: pointer;
}

.header-menu-search img {
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: middle;
}

.play-tuijian {
    padding-bottom: 8rem;
}

.leftDrawer {
    background: rgb(224, 224, 224);
}

.play-alert-list-singer:not(:last-child):after {
    content: ", ";
}

.play-setting {
    position: fixed;
    bottom: 0;
    height: 8rem;
    background-image: linear-gradient(to right, pink, #40efff);
}

.play-setting-songImg {
    float: left;
    width: 8rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.play-settings {
    width: calc(100% - 8rem);
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.play-settings-title,
.play-settings-sliderContent,
.play-settings-controll {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.play-settings-sliderContent {
    position: relative;
}

.play-settings-sliderContent-currentTime,
.play-settings-sliderContent-endTime,
.play-settings-sliderContent-slider {
    display: inline-block;
    vertical-align: middle;
}

.play-settings-sliderContent-currentTime,
.play-settings-sliderContent-endTime {
    width: 3.5rem;
}

.play-settings-sliderContent-currentTime {
    padding-right: 0.5rem;
    text-align: right;
}

.play-settings-sliderContent-endTime {
    padding-left: 0.5rem;
}

.play-settings-sliderContent-slider {
    width: calc(100% - 7rem);
}

.play-settings-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.play-settings-title span {
    font-size: 1.2rem;
    line-height: 2rem;
    vertical-align: middle;
}

.play-settings-controll {}

.play-settings-controll img {
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.play-settings-controll .isLike {
    margin-left: 1rem;
}

.play-settings-controll-soundSlider {
    display: inline-block;
    width: 10rem;
    vertical-align: middle;
}

.play-settings-sliderContent .el-slider__button-wrapper {
    transition: left 0.5s linear;
}

.leftDrawer-title {
    padding: 1rem 2rem;
}

.leftDrawer-btns {
    height: 5rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.leftDrawer-btns span,
.leftDrawer-btns img {
    display: inline-block;
    vertical-align: middle;
    line-height: 5rem;
}

.leftDrawer-btns img {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem;
}

.search-content {
    cursor: default;
}

/* 换肤菜单 */
.changeSkinMenu {
    position: absolute;
    right: 1.5rem;
    top: 4rem;
    background: #efefef;
    width: 15rem;
    height: 5rem;
    border-radius: 5px;
    z-index: 10000;
    justify-content: space-around;
    align-items: center;
}